{% extends "base_cabinet.html" %}

{% block content %}

{% if content == 'applications' %}

    {% for item in applications%}
        <div class="item">
            <div class="item_head">
                <div class="item_head_text">
                    <p>{{ item.customer.name }}</p>
                    <p>{{ item.transport.name }}</p>
                    <p>{{ item.start.strftime('%d.%m.%Y') }} - {{ item.end.strftime('%d.%m.%Y') }}</p>
                </div>
                <div class="item_head_btns">
                    <div class="item_head_btn expand"></div>
                </div>
            </div>
            <div class="item_info">
                <p>От кого: {{ item.customer.name }}</p>
                <p>Транспорт: {{ item.transport.name }}</p>
                <p>Временной промежуток: {{ item.start.strftime('%d.%m.%Y') }} - {{ item.end.strftime('%d.%m.%Y') }}</p>
                <p>Причина: {{ item.task }}</p>
                <div class="item_info_btns">
                    <a href="/dispatcher/accept/{{ item.id }}" class="item_info_btn accept">ПРИНЯТЬ</a>
                    <a href="/dispatcher/reject/{{ item.id }}" class="item_info_btn reject">ОТКЛОНИТЬ</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% elif content == 'transport' %}
    
    {% for item in transport%}
        <div class="item">
            <div class="item_head">
                <div class="item_head_text">
                    <p>{{ item.name }}</p>
                    <p>{% if item.status %} Свободен {% else %} Занят {% endif %}</p>
                    <p>{% if item.state %} Исправен {% else %} Неисправен {% endif %}</p>
                </div>
                <div class="item_head_btns">
                    <div class="item_head_btn expand"></div>
                </div>
            </div>
            <div class="item_info">
                <p>Местоположение</p>
                <div id="map{{ item.id }}" class="map" data="{{ item.coordinates }}"></div>
                <div class="item_info_btns">
                    <a href="/dispatcher/edit_transport/{{ item.id }}" class="item_info_btn refresh">ОБНОВИТЬ</a>
                    <a href="/dispatcher/transport_delete/{{ item.id }}" class="item_info_btn delete_t">УДАЛИТЬ</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <a class="button" href="/dispatcher/add_transport">ДОБАВИТЬ ТРАНСПОРТ</a>
        
{% elif content == 'customers' %}
    
    {% for item in customers%}
    <div class="item">
        <div class="item_head">
            <div class="item_head_text">
                <p>{{ item.name }}</p>
                <p>{{ item.job_title }}</p>
                <p>{{ item.tel }}</p>
                <p>{{ item.email }}</p>
            </div>
            <div class="item_head_btns">
                <a href="/dispatcher/edit_customers/{{ item.id }}" class="item_head_btn edit"></a>
                <a href="/dispatcher/customer_delete/{{ item.id }}" class="item_head_btn delete"></a>
            </div>
        </div>
    </div>
    {% endfor %}
    <a class="button" href="/dispatcher/add_customer">ДОБАВИТЬ СОТРУДНИКА</a>

{% elif content == 'tasks' %}
    
    {% for item in tasks%}
        <div class="item">
            <div class="item_head">
                <div class="item_head_text">
                    <p>{{ item.customer.name }}</p>
                    <p>{{ item.transport.name }}</p>
                    <p>{{ item.start.strftime('%d.%m.%Y') }} - {{ item.end.strftime('%d.%m.%Y') }}</p>
                </div>
                <div class="item_head_btns">
                    <div class="item_head_btn expand"></div>
                </div>
            </div>
            <div class="item_info">
                <p>От кого: {{ item.customer.name }}</p>
                <p>Транспорт: {{ item.transport.name }}</p>
                <p>Временной промежуток: {{ item.start.strftime('%d.%m.%Y') }} - {{ item.end.strftime('%d.%m.%Y') }}</p>
                <p>Причина: {{ item.task }}</p>
                <div class="item_info_btns">
                    <a href="/dispatcher/complete/{{ item.id }}" class="item_info_btn stop">ЗАВЕРШИТЬ</a>
                </div>
            </div>
        </div>
    {% endfor %}

{% endif %}

{% endblock %}